@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #101010;
}

.container {
    max-width: 860px;
    margin: 0px auto;
    
}

.container-lg {
    max-width: 80%;
    margin: 0px auto;
}

.footer {
    position: absolute;
    bottom: -640px;
    left: 0px;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #FFF;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.sub-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;        
    color: #FFF;
}

.down-arrow {
    font-size: 8rem;
}

.magic-mirror {
    height: 500px;
    max-width: 1080px;
    margin: 0 auto;
}

.center {
    margin: auto;
    width: fit-content;
}

.fixed-bl {
    position: fixed;
    left: 0;
    bottom: 0;
}

hr {
    background-color: #FFF;
    height: 2px;
}

h2 {
    color: #FFF;
}

p {
    color: #FFF;
}

li {
    color: #fff;
}

// Responsive CSS
@media (max-width: 375px) {
    .container-lg {
        font-size: 1rem;
    }

    .container {
        font-size: 1rem;
        
    }

    .heading {
        font-size: 2rem;
        margin-right: .5rem;
    }

    .sub-heading {
        font-size: 1.6rem;
    }

    .contact-flex {
        flex-direction: row;
    }

    .magic-mirror {
        height: auto;
        max-width: 1080px;
        margin: 0 auto;
    }
}